<html>
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            {{if .CurrentUser}}
                <a href="/account" class="nav-item nav-link">Account</a> |
                <a href="/sign-out" class="nav-item nav-link">Sign Out </a>
            {{else}}
                <a href="/register" class="nav-item nav-link">Register </a> |
                <a href="/login" class="nav-item nav-link">Login</a>
            {{end}}
        </div>
    </div>

</nav>

<div class="container">
    ddddd
    {{if .Flash}}
        <div class="alert alert-info">
            {{.Flash}}
        </div>
    {{end}}
    {{ yield }}
</div>
</body>
</html>
